In [1]:
#Importing libraries 
import pandas as pd
import numpy as np

In [2]:
# Importing file
basic = "https://datasets.imdbws.com/title.basics.tsv.gz"
akas = "https://datasets.imdbws.com/title.akas.tsv.gz"
rating = "https://datasets.imdbws.com/title.ratings.tsv.gz"

In [3]:
# reading the csv file
basics = pd.read_csv(basic,sep='\t', low_memory=False)

In [55]:
# reading the csv file
aka = pd.read_csv(akas,sep='\t', low_memory=False)

In [5]:
# reading the csv file
rate = pd.read_csv(rating,sep='\t', low_memory=False)

## Cleaning and Handeling duplicate values - Title Basics

In [6]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9142080 entries, 0 to 9142079
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 627.7+ MB

In [7]:
# Checking for duplicate values
basics.duplicated().sum()

0

In [8]:
# Checking null values
basics.isna().sum()

tconst             0
titleType          0
primaryTitle      10
originalTitle     10
isAdult            0
startYear          0
endYear            0
runtimeMinutes     0
genres            10
dtype: int64

In [9]:
# Replacing \N with na
basics.replace({'\\N':np.nan}, inplace=True)

In [10]:
# Checking null values
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           10
originalTitle          10
isAdult                 1
startYear         1211869
endYear           9047016
runtimeMinutes    6683551
genres             415935
dtype: int64

In [13]:
# Eliminate movies that are null for runtimeMinutes
basics.dropna(subset=['runtimeMinutes'],inplace=True)

In [14]:
# Checking null values
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 1
startYear           37627
endYear           2412071
runtimeMinutes          0
genres              67256
dtype: int64

In [15]:
# Eliminate movies that are null for genre
basics.dropna(subset=['genres'],inplace=True)

In [16]:
# Checking null values
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear           36279
endYear           2346380
runtimeMinutes          0
genres                  0
dtype: int64

In [21]:
newdf = basics.loc[basics['titleType'] == 'movie']

In [29]:
newdf['startYear'].value_counts()

2017    14177
2018    14116
2016    13806
2019    13784
2015    13320
        ...
1894        1
1899        1
1904        1
1906        1
1896        1
Name: startYear, Length: 129, dtype: int64

In [38]:
newdf1 = newdf.loc[(newdf['startYear'] == '2000') 
                   | (newdf['startYear'] == '2001')
                   | (newdf['startYear'] == '2002')
                   | (newdf['startYear'] == '2003')
                   | (newdf['startYear'] == '2004')
                   | (newdf['startYear'] == '2005')
                   | (newdf['startYear'] == '2006')
                   | (newdf['startYear'] == '2007')
                   | (newdf['startYear'] == '2008')
                   | (newdf['startYear'] == '2009')
                   | (newdf['startYear'] == '2010')
                   | (newdf['startYear'] == '2011')
                   | (newdf['startYear'] == '2012')
                   | (newdf['startYear'] == '2013')
                   | (newdf['startYear'] == '2014')
                   | (newdf['startYear'] == '2015')
                   | (newdf['startYear'] == '2016')
                   | (newdf['startYear'] == '2017')
                   | (newdf['startYear'] == '2018')
                   | (newdf['startYear'] == '2019')
                   | (newdf['startYear'] == '2020')
                   | (newdf['startYear'] == '2021')
                   | (newdf['startYear'] == '2022')]

In [39]:
newdf1['startYear'].value_counts()

2017    14177
2018    14116
2016    13806
2019    13784
2015    13320
2014    12976
2013    12261
2021    11678
2012    11533
2020    11239
2011    10672
2010    10114
2009     9260
2008     8066
2022     7310
2007     6878
2006     6424
2005     5759
2004     5126
2003     4526
2002     4084
2001     3810
2000     3591
Name: startYear, dtype: int64

In [41]:
newdf1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 214510 entries, 13079 to 9142030
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          214510 non-null  object
 1   titleType       214510 non-null  object
 2   primaryTitle    214510 non-null  object
 3   originalTitle   214510 non-null  object
 4   isAdult         214510 non-null  object
 5   startYear       214510 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  214510 non-null  object
 8   genres          214510 non-null  object
dtypes: object(9)
memory usage: 16.4+ MB

In [43]:
newdf1['genres'].value_counts()

Documentary                   50655
Drama                         34657
Comedy                        13082
Comedy,Drama                   6244
Horror                         5587
                              ...
Action,Music,Sci-Fi               1
Drama,Mystery,Short               1
Adventure,Reality-TV,Sport        1
Biography,Comedy,War              1
Crime,Fantasy,Sci-Fi              1
Name: genres, Length: 1184, dtype: int64

In [44]:
# Exclude movies that are included in the documentary category.
is_documentary = newdf1['genres'].str.contains('documentary',case=False)
newdf1 = newdf1[~is_documentary]

In [45]:
newdf1['genres'].value_counts()

Drama                      34657
Comedy                     13082
Comedy,Drama                6244
Horror                      5587
Drama,Romance               4156
                           ...
Comedy,Game-Show               1
Horror,Music,Mystery           1
Drama,Musical,Sport            1
Adventure,History,Music        1
Crime,Fantasy,Sci-Fi           1
Name: genres, Length: 966, dtype: int64

## Cleaning and Handeling duplicate values - AKA

In [56]:
aka.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32821982 entries, 0 to 32821981
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

In [57]:
akadf = aka.loc[aka['region'] == 'US']

In [58]:
akadf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1341710 entries, 5 to 32821726
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1341710 non-null  object
 1   ordering         1341710 non-null  int64
 2   title            1341710 non-null  object
 3   region           1341710 non-null  object
 4   language         1341710 non-null  object
 5   types            1341710 non-null  object
 6   attributes       1341710 non-null  object
 7   isOriginalTitle  1341710 non-null  object
dtypes: int64(1), object(7)
memory usage: 92.1+ MB

In [59]:
# Checking null values
akadf.isna().sum()

titleId            0
ordering           0
title              0
region             0
language           0
types              0
attributes         0
isOriginalTitle    0
dtype: int64

In [60]:
# Replacing \N with na
akadf.replace({'\\N':np.nan}, inplace=True)

C:\Users\rdbha\AppData\Local\Temp\ipykernel_16780\3328445471.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  akadf.replace({'\\N':np.nan}, inplace=True)

In [61]:
# Checking null values
akadf.isna().sum()

titleId                  0
ordering                 0
title                    0
region                   0
language           1338036
types               378475
attributes         1297017
isOriginalTitle       1375
dtype: int64

## Cleaning and Handeling duplicate values - Ratings

In [62]:
# Replacing \N with na
rate.replace({'\\N':np.nan}, inplace=True)

In [65]:
rate.isna().sum()

tconst           0
averageRating    0
numVotes         0
dtype: int64

## Filtering one dataframe based on another

In [63]:
## Filtering one dataframe based on another

keepers =newdf1['tconst'].isin(akadf['titleId'])
keepers

34790       True
61087       True
67632       True
77926      False
86763       True
           ...
9141752     True
9141761     True
9141800    False
9141845     True
9141929    False
Name: tconst, Length: 141962, dtype: bool

In [64]:
newdf1 = newdf1[keepers]
newdf1

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34790,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61087,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67632,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86763,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
92728,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy
...,...,...,...,...,...,...,...,...,...
9141216,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9141612,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9141752,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9141761,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9141845,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [66]:
# basics table info

newdf1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 82066 entries, 34790 to 9141845
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          82066 non-null  object
 1   titleType       82066 non-null  object
 2   primaryTitle    82066 non-null  object
 3   originalTitle   82066 non-null  object
 4   isAdult         82066 non-null  object
 5   startYear       82066 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  82066 non-null  object
 8   genres          82066 non-null  object
dtypes: object(9)
memory usage: 6.3+ MB

In [67]:
# Lets look at datatypes
newdf1.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [70]:
# aka table info

akadf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1341710 entries, 5 to 32821726
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1341710 non-null  object
 1   ordering         1341710 non-null  int64
 2   title            1341710 non-null  object
 3   region           1341710 non-null  object
 4   language         3674 non-null     object
 5   types            963235 non-null   object
 6   attributes       44693 non-null    object
 7   isOriginalTitle  1340335 non-null  object
dtypes: int64(1), object(7)
memory usage: 92.1+ MB

In [71]:
# Lets look at datatypes
akadf.dtypes

titleId            object
ordering            int64
title              object
region             object
language           object
types              object
attributes         object
isOriginalTitle    object
dtype: object

In [68]:
# rate table info

rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1261708 entries, 0 to 1261707
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1261708 non-null  object
 1   averageRating  1261708 non-null  float64
 2   numVotes       1261708 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.9+ MB

In [69]:
# Lets look at datatypes
rate.dtypes

tconst            object
averageRating    float64
numVotes           int64
dtype: object

In [72]:
# example making new folder with os
import os
os.makedirs('Data/',exist_ok=True) 
# Confirm folder created
os.listdir("Data/")

[]

In [73]:
## Save current dataframe to file.
newdf1.to_csv("Data/title_basics.csv.gz",compression='gzip',index=False)

In [74]:
## Save current dataframe to file.
akadf.to_csv("Data/title_akas.csv.gz",compression='gzip',index=False)

In [75]:
## Save current dataframe to file.
rate.to_csv("Data/title_rating.csv.gz",compression='gzip',index=False)

In [76]:
# Open saved file and preview again
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0094859,movie,Chief Zabu,Chief Zabu,0,2016,NaN,74,Comedy